<header class="header">
	<div class="header__container">
		<div class="header__nav">
			<ul class="header__list">
				<li class="header__item"><a href="" class="header__link">
						<img src="../assets/images/home.svg" class="img-svg active" alt="">
					</a>
				</li>
				<li class="header__item"><a href="" class="header__link">
						<img src="../assets/images/information.svg" class="img-svg" alt="">
					</a>
				</li>
				<li class="header__item"><a href="" class="header__link">
						<img src="../assets/images/settings.svg" class="img-svg" alt="">
					</a>
				</li>
				<li class="header__item"><a href="" class="header__link">
						<img src="../assets/images/folder.svg" class="img-svg" alt="">
					</a>
				</li>
				<li class="header__item"><a href="" class="header__link">
						<img src="../assets/images/message.svg" class="img-svg" alt="">
					</a>
				</li>
			</ul>
		</div>
	</div>


</header>